<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="rubicon.web" type="Rubicon.Web.Configuration.WebConfiguration, Rubicon.Web" />
	</configSections>

	<rubicon.web xmlns="http://www.rubicon-it.com/commons/web/configuration">
		<executionEngine
				defaultWxeHandler="WxeHandler.ashx"
				urlMappingFile="$ROOT_TARGET_DIR$\$WebClientName$\UrlMapping.xml" />
	</rubicon.web>

	<appSettings>
		<!-- TODO: place holders for full qualified filenames -->
		<add key="Rubicon.Data.DomainObjects.Mapping.ConfigurationFile" value="$ROOT_TARGET_DIR$\$WebClientName$\mapping.xml"/>
		<add key="Rubicon.Data.DomainObjects.Mapping.SchemaFile" value="$ROOT_TARGET_DIR$\$WebClientName$\mapping.xsd"/>

		<add key="Rubicon.Data.DomainObjects.Persistence.Configuration.ConfigurationFile" value="$ROOT_TARGET_DIR$\$WebClientName$\storageProviders.xml" />
		<add key="Rubicon.Data.DomainObjects.Persistence.Configuration.SchemaFile" value="$ROOT_TARGET_DIR$\$WebClientName$\storageProviders.xsd" />

		<add key="Rubicon.Data.DomainObjects.Queries.Configuration.ConfigurationFile" value="$ROOT_TARGET_DIR$\$WebClientName$\queries.xml" />
		<add key="Rubicon.Data.DomainObjects.Queries.Configuration.SchemaFile" value="$ROOT_TARGET_DIR$\$WebClientName$\queries.xsd" />
	</appSettings>

	<system.web>
		<httpHandlers>
			<add verb="*" path="*.wxe" type="Rubicon.Web.ExecutionEngine.WxeHandler, Rubicon.Web" />
		</httpHandlers>

		<!--
    Set compilation debug="true" to insert debugging 
    symbols into the compiled page. Because this 
    affects performance, set this value to true only 
    during development.
		-->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>

		<!--
		The <authentication> section enables configuration 
		of the security authentication mode used by 
		ASP.NET to identify an incoming user. 
		-->
		<authentication mode="Windows"/>

		<!--
		The <customErrors> section enables configuration 
		of what to do if/when an unhandled error occurs 
		during the execution of a request. Specifically, 
		it enables developers to configure html error pages 
		to be displayed in place of a error stack trace.

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
		<error statusCode="403" redirect="NoAccess.htm" />
		<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		-->
	</system.web>
</configuration>
