/*  Style applied to the BocList's table's outer structure.  */
table.bocListTable
{
  border-collapse: separate;
  border-width: 0px;
}

/*  Style applied to the cells in the BocList's title row.  */
td.bocListTitleCell
{
	font-weight: bold;

  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: Black;
}

/*  Style applied to the cells in the BocList's odd data rows. */
td.bocListDataCellOdd
{
	background-color: #FFFFFF;

  padding: 2px 2px 2px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  
  cursor: default;
}

/*  Style applied to the cells in the BocList's even data rows. */
td.bocListDataCellEven
{
	background-color: #E0E0E0;

  padding: 2px 2px 2px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  
  cursor: default;
}

/*  Style applied to the cells in the BocList's selected odd and even data rows. */
td.bocListDataCellOddSelected,
td.bocListDataCellEvenSelected
{
	background-color: Navy;
  color: White;
  
  padding: 2px 2px 2px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  
  cursor: default;
}

/*  Style applied to the anchor tags in BocList's selected odd and even data rows.  */
td.bocListDataCellOddSelected a,
td.bocListDataCellEvenSelected a
{
  color: White;
}

/*  Style applied to the anchor tags during hovering in BocList's selected odd and even data rows.  */
td.bocListDataCellOdd a:hover,
td.bocListDataCellEven a:hover,
td.bocListDataCellOddSelected a:hover,
td.bocListDataCellEvenSelected a:hover
{
  color: Black;
  background-color: Yellow;
}

/* Style applied to the text providing the sorting order's index. */
span.bocListSortingOrder
{
  color: Gray;
  font-size: 80%;
  font-weight: normal;
}

/*  Style applied to the BocList's navigator. */
div.bocListNavigator
{
}

/*  Style applied to the BocList's list of additionalc columns. */
input.bocListAdditionalColumnsList
{
}

span.bocListListMenuItem
{
  margin-right: 10pt;
	cursor: default;
}

span.bocListListMenuItemDisabled
{
  margin-right: 10pt;
  color: gray;
	cursor: default;
}

span.bocListListMenuItem a,
span.bocListListMenuItemDisabled a
{
  color: black;
  text-decoration: none;
  cursor: default;
}
