/* Style applied to the BocList. */
.bocList
{
}

/* Style applied to the BocList in read-only mode. */
.bocList.readOnly
{
}


/* Style applied to the div surrounding the BocList's table. */
div.bocListTable
{
}

/* Style applied to the div surrounding the BocList's table when the list is read-only. */
.bocList.readOnly div.bocListTable
{
}

/*  Style applied to the BocList's table's outer structure.  */
table.bocListTable
{
  border-collapse: collapse;
  border-style: none;
}

/*  Style applied to the table head block of the BocList's table.  */
tbody.bocListTableBody
{
}

/*  Style applied to the cells in the BocList's title row.  */
th.bocListTitleCell
{
	font-weight: bold;
	text-align: left;

  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: Black;
  
  white-space: nowrap;
}

th.bocListTitleCell span
{
	padding: 2px;
}

th.bocListTitleCell a
{
  color: Blue;
	padding: 2px;
}

th.bocListTitleCell a:hover
{
  color: Blue;
	padding: 1px;
	border-color: #2254b1;
	border-width: 1px;
	border-style: solid;
	background-color: #fee197;	
}

/*  Style applied to the cells in the BocList's odd data rows. */
td.bocListDataCellOdd
{
	background-color: White;
	text-align: left;

  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  
  cursor: default;
}

/*  Style applied to the cells in the BocList's even data rows. */
td.bocListDataCellEven
{
	background-color: #e1ecfc;
	text-align: left;

  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  
  cursor: default;
}

/*  Style applied to the cells in the BocList's selected odd and even data rows. */
td.bocListDataCellOddSelected,
td.bocListDataCellEvenSelected
{
	background-color: Highlight;
  color: HighlightText;
	text-align: left;
 
  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  
  cursor: default;
}

/*  Style applied to the cell in the BocList's data row that contains the index. */
th.bocListTitleCellIndex
{
  text-align: center;
}

/*  Style applied to the cell in the BocList's data row that contains the index. */
td.bocListDataCellIndex
{
  text-align: center;
}

/*  Style applied to the non-anchor content in the data rows.  */
span.bocListContent,
label.bocListContent
{
	padding: 2px;
}

/*  Style applied to the anchor tags in BocList's unselected odd and even data rows.  */
td.bocListDataCellOdd a,
td.bocListDataCellEven a
{
  color: Blue;
	padding: 2px;
}

/*  Style applied to the anchor tags in BocList's selected odd and even data rows.  */
td.bocListDataCellOddSelected a,
td.bocListDataCellEvenSelected a
{
  color: White;
	padding: 2px;
}

/*  Style applied to the anchor tags during hovering in BocList's selected odd and even data rows.  */
td.bocListDataCellOdd a:hover,
td.bocListDataCellEven a:hover,
td.bocListDataCellOddSelected a:hover,
td.bocListDataCellEvenSelected a:hover
{
  color: Blue;
	padding: 1px;
	border-color: #2254b1;
	border-width: 1px;
	border-style: solid;
	background-color: #fee197;	
}

/* Style applied to the text providing the sorting order's index. */
span.bocListSortingOrder
{
  color: Gray;
  font-size: 80%;
  font-weight: normal;
}

/*  Style applied to the BocList's navigator. */
div.bocListNavigator
{
}

/*  Style applied to the BocList's list of available views. */
select.bocListAvailableViewsListDropDownList
{
}

/*  Style applied to the BocList's list of available views. */
span.bocListAvailableViewsListLabel
{
}

/*  Style applied to the validation messages, applied if the EditDetailsValidator has no style it self.  */
div.bocListEditDetailsValidationMessage
{
	color: Red;
}

td.contentMenuRow
{
  font-size: 80%;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: middle;
  white-space: nowrap;
}

span.contentMenuItem
{
  margin-right: 10pt;
}

span.contentMenuItem a
{
  color: Blue;
  padding: 2px;
}

span.contentMenuItem a:hover
{
  color: Blue;
	padding: 1px;
	border-width: 1px;
	border-color: #2254b1;
	border-style: solid;
	background-color: #fee197;	
}

span.contentMenuItemDisabled
{
  margin-right: 10pt;
}

span.contentMenuItemDisabled a
{
  padding: 2px;
  color: gray;
	cursor: default;
}
