/*  Style applied to the BocList's table's outer structure.  */
table.bocListTable
{
  border-collapse: separate;
  border-width: 0px;
}

/*  Style applied to the cells in the BocList's title row.  */
td.bocListTitleCell
{
	font-weight: bold;

  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: Black;
}

/*  Style applied to the cells in the BocList's odd data rows. */
td.bocListDataCellOdd
{
	background-color: #FFFFFF;

  padding: 2px 2px 2px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

/*  Style applied to the cells in the BocList's even data rows. */
td.bocListDataCellEven
{
	background-color: #E0E0E0;

  padding: 2px 2px 2px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

/*  Style applied to the cells in the BocList's selected odd data rows. */
td.bocListDataCellOddSelected
{
	background-color: Navy;
  color: White;
  
  padding: 2px 2px 2px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

/*  Style applied to the cells in the BocList's selected even data rows. */
td.bocListDataCellEvenSelected
{
	background-color: Navy;
  color: White;

  padding: 2px 2px 2px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

/* Style applied to the text providing the sorting order's index. */
span.bocListSortingOrder
{
  color: Gray;
  font-size: 80%;
  font-weight: normal;
}

/*  Style applied to the BocList's navigator. */
div.bocListNavigator
{
}

td.bocListDataCellOddSelected a
{
  color: White;
}

td.bocListDataCellEvenSelected a
{
  color: White;
}