/* Style applied to the BocReferenceValue's value. */
span.bocReferenceValueContent
{
}

span.bocReferenceValueContent a
{
  color: Blue;
  cursor: hand;
}

span.bocReferenceValueContent a:hover
{
  color: Blue;
	cursor: hand;
}

//span.bocReferenceValueOnMouseOver
//{
//  border: solid 1px red;
//}

//span.bocReferenceValueOnMouseOut
//{
//  padding: 1px;
//}