<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Rubicon.Data.DomainObjects.Mapping.ConfigurationFile" value="SecurityManagerMapping.xml"/>
    <add key="Rubicon.Data.DomainObjects.Queries.Configuration.ConfigurationFile" value="SecurityManagerQueries.xml"/>
    <add key="Rubicon.Data.DomainObjects.Persistence.Configuration.ConfigurationFile" value="SecurityManagerStorageProviders.xml"/>
  </appSettings>
</configuration>