<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="rubicon.data.domainObjects" type="Rubicon.Data.DomainObjects.Configuration.DomainObjectsConfiguration, Rubicon.Data.DomainObjects">
      <section name="storage" type="Rubicon.Data.DomainObjects.Persistence.Configuration.PersistenceConfiguration, Rubicon.Data.DomainObjects" />
    </sectionGroup>
  </configSections>

  <rubicon.data.domainObjects xmlns="http://www.rubicon-it.com/Data/DomainObjects/Configuration">
    <storage defaultProviderDefinition="SecurityManager">
      <providerDefinitions>
        <add type="Rubicon.Data.DomainObjects::Persistence.Rdbms.RdbmsProviderDefinition"
            name="SecurityManager"
            providerType="Rubicon.SecurityManager::Persistence.SecurityManagerSqlProvider"
            connectionString="SecurityManager"/>
      </providerDefinitions>
    </storage>
  </rubicon.data.domainObjects>

  <connectionStrings>
    <add name="SecurityManager" connectionString="Integrated Security=SSPI;Initial Catalog=RubiconSecurityManager;Data Source=localhost"/>
  </connectionStrings>

  <appSettings>
    <add key="Rubicon.Data.DomainObjects.Queries.Configuration.ConfigurationFile" value="SecurityManagerQueries.xml"/>
  </appSettings>
</configuration>