body, td
{
	background-color: #ffffff;
	
	font-weight: normal;
	font-size: 1em;
	color: #000000;
	text-decoration: none;
	line-height: 1em;
}

body, input, textarea
{
	font-family: 'Arial' , 'Helvetica';
}

table.formGridTable
{
  border-collapse: separate;
  border-width: 1px;
}

td.formGridTitleCell
{
	font-weight: bold;
	font-size: 1em;

  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: Black;
}

td.formGridLabelsCell
{
	background-color: #E0E0E0;
	text-align: right;

  padding: 2px 5px 2px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

td.formGridMarkersCell
{
  white-space: nowrap;

  padding: 0px 5px 0px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

td.formGridControlsCell
{
  padding: 0px 5px 0px 5px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

td.formGridValidationMessagesCell
{
  padding: 2px 7px 2px 7px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

td.formGridTopDataRow
{
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
}

/*  Class for overriding the TableCell's general settings for input controls */
.formGridControl
{
	font-size: 1em;
}

.formGridValidationMessage
{
	color: Red;
  /*padding: 2px 0px 2px 0px;*/
}

.formGridValidationNotice
{
	color: Red;
  /*padding: 2px 0px 2px 0px;*/
}
