div#WxeIsAbortingMessage,
div#WxeIsSubmittingMessage
{
  background-color: White;
  border: solid 3pt Gray;
}

div#WxeIsAbortingMessage td,
div#WxeIsSubmittingMessage td
{
  font-weight: bold;
  font-size: 100%;
  color: Gray;
}
  
div#WxeHasSubmittedMessage,
div#WxeHasAbortedMessage
{
  background-color: White;
  border: solid 1pt Black;
}
  
div#WxeHasSubmittedMessage td,
div#WxeHasAbortedMessage td
{
  color: Black;
}

/* Ignore
html>body #WxeIsSubmittingMessage
{   
  position: fixed;
}
*/
