div#WxeIsAbortingMessage,
div#WxeIsSubmittingMessage
{
  background-color: White;
  border: solid 3pt Gray;
}

div#WxeIsAbortingMessage td,
div#WxeIsSubmittingMessage td
{
  font-weight: bold;
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: Gray;
}

/* Ignore
html>body #WxeIsSubmittingMessage
{   
  position: fixed;
}
*/
