div#WxeStatusIsAbortingMessage,
div#WxeStatusIsSubmittingMessage
{
  background-color: White;
  border: solid 3pt Gray;
}

div#WxeStatusIsAbortingMessage td,
div#WxeStatusIsSubmittingMessage td
{
  font-weight: bold;
  font-size: 100%;
  color: Gray;
}
  
div#WxeStatusIsCachedMessage
{
  background-color: White;
  border: solid 1pt Black;
}
  
div#WxeStatusIsCachedMessage td
{
  color: Black;
}

/* Ignore
html>body #WxeIsSubmittingMessage
{   
  position: fixed;
}
*/
