body
{
  overflow: auto;
}

/*  TD does not inherit from body */
body, td
{
}

body, input, textarea
{
  font-family: 'Arial' , 'Helvetica', sans-serif;
}

a
{
  text-decoration: none;
  color: Blue;
}
