@import url("TabStripV3.css");

/*  A template for the TabbedMultiView's CssClass. Not included automatically. */
table.tabbedMultiView
{
  width:100%;
  height:100%;
  table-layout:fixed
}

/* Applied to the tabbed multi view's tab strip.*/
div.tabbedMultiViewTabStrip
{
}

/* Applied to the tabbed multi view's view.*/
td.tabbedMultiViewActiveView
{
	border-left: solid 1px #2254b1;	
	border-right: solid 1px #2254b1;	
	border-bottom: solid 1px #2254b1;
  vertical-align: top; 
  height: 100%;
}

div.tabbedMultiViewActiveView
{ 
	padding: 2pt;
  overflow: auto;	
  height: 100%; 
  width: 100%; 
}

/* Applied to the top section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewTopControls
{
  padding-bottom: 10pt;
}

/* Applied to the bottom section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewBottomControls
{
  padding-top: 10pt;
}

/* Non-IE Browsers hack \*/
html>body table.tabbedMultiView
{
  height: 98%;
}

html>body div.tabbedMultiViewTabStrip
{
  margin-bottom: -2px;
}

html>body td.tabbedMultiViewActiveView
{
	border-top: solid 1px #2254b1;	
}

html>body div.tabbedMultiViewActiveView
{
  width: inherit;
}  
/* End Non-IE Browsers hack\*/

/* Tab Strip */
div.tabbedMultiViewTabStrip div.tabStripTabsPane
{
  border-bottom: solid 1px #2254b1;
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane ul
{
  margin-bottom: -1px;  
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane ul li
{
  margin-top: 3pt;
}

div.tabbedMultiViewTabStrip span.tabStripTabSeparator
{
  width: 10pt;
  border-bottom: solid 1px #2254b1;	
}

/* Top and bottom tab borders */
div.tabbedMultiViewTabStrip span.tabStripTab a span.tabStripTabLeftBorder
{  
  border-top: solid 1px #2254b1;	
  border-bottom: solid 1px #2254b1;	
}

/* Top and bottom selected tab borders */
div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.tabStripTabLeftBorder
{
  border-top: solid 1px #2254b1;	
  border-bottom: solid 1px White;	
}

/* Left tab border */
div.tabbedMultiViewTabStrip span.tabStripTab a span.tabStripTabLeftBorder,
div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.tabStripTabLeftBorder
{
  border-left: solid 1px #2254b1;
}

/* Right tab border */
div.tabbedMultiViewTabStrip span.tabStripTab a span.tabStripTabRightBorder,
div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.tabStripTabRightBorder
{
  border-right: solid 1px #2254b1;
  padding-bottom: 1px;
}

/* Inside of the tab */
div.tabbedMultiViewTabStrip span.tabStripTab a span.tabStripTabContent,
div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.tabStripTabContent
{
  margin-right: -1px;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 5pt;
  padding-right: 5pt;
	vertical-align: middle;
}

div.tabbedMultiViewTabStrip span.tabStripTab a span.tabStripTabRightBorder,
div.tabbedMultiViewTabStrip span.tabStripTab a span.tabStripTabContent
{
  background-color: #e1ecfc;
}

div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.tabStripTabRightBorder,
div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.tabStripTabContent
{
  background-color: White;
}

div.tabbedMultiViewTabStrip span.tabStripTab a:hover,
div.tabbedMultiViewTabStrip span.tabStripTab a:hover span.tabStripTabRightBorder,
div.tabbedMultiViewTabStrip span.tabStripTab a:hover span.tabStripTabContent
{
	background-color: #fee197;	
}

div.tabbedMultiViewTabStrip span.tabStripTab,
div.tabbedMultiViewTabStrip span.tabStripTabSelected,
div.tabbedMultiViewTabStrip span.tabStripTabSeparator
{
  margin-bottom: -3px;
}

/* Non-IE Browsers hack \*/
html>body div.tabbedMultiViewTabStrip div.tabStripTabsPane
{
  border-bottom: none;
}

html>body div.tabbedMultiViewTabStrip div.tabStripTabsPane ul
{
  margin-bottom: 0px;
}

html>body div.tabbedMultiViewTabStrip span.tabStripTab,
html>body div.tabbedMultiViewTabStrip span.tabStripTabSelected,
html>body div.tabbedMultiViewTabStrip span.tabStripTabSeparator
{
  margin-bottom: 0px;
}

html>body div.tabbedMultiViewTabStrip span.tabStripTab a span.tabStripTabContent,
html>body div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.tabStripTabContent
{
  height: 1.5em;
  margin-right: 0px;
}

html>body div.tabbedMultiViewTabStrip span.tabStripTabSeparator
{
  height: 1.5em;
  padding-bottom: 5px;
}
/* End Non-IE Browsers hack\*/
