/* Applied to the tabbed multi view's tab strip.*/
div.tabbedMultiViewTabStrip
{
}

/* Applied to the tabbed multi view's view.*/
div.tabbedMultiViewActiveView
{
	border-left: solid 1px #2254b1;	
	border-right: solid 1px #2254b1;	
	border-bottom: solid 1px #2254b1;	
	height: 300pt;
	padding: 2pt;
	overflow: scroll;
}

