@import url ("TabStrip.css");

td.tabStripMenuMainMenuCell
{
}

td.tabStripMenuSubMenuCell
{
  background-color: #02537c;
  padding: 0.3em;
}

td.tabStripMenuStatusCell
{
  background-color: #02537c;
  padding: 0.3em;
  color: White;
  text-align:right;
  white-space: nowrap;
}

/* Main Menu Tabstrip*/
table.tabStripMenuMain div.tabStripTabsPane
{
  border-bottom: none;
}

table.tabStripMenuMain div.tabStripTabsPane ul
{
}

table.tabStripMenuMain div.tabStripTabsPane ul li
{
  margin-top: 0.3em;
  margin-right: 0.1em;
}

table.tabStripMenuMain span.tabStripTabSeparator
{
  display: none;	
}

table.tabStripMenuMain span.tabStripTab a
{  
  border: none;
  background-color: #e1ecfc;
  color: Blue;
  font-size: 120%;
  font-weight: bold;
}

table.tabStripMenuMain span.tabStripTab a:hover
{
	background-color: #fee197;	
  color: Blue;
  cursor: pointer;
	cursor: hand;
}
table.tabStripMenuMain span.tabStripTabSelected a:hover
{
  color: #fee197;
  text-decoration: underline;
  cursor: pointer;
	cursor: hand;
}

table.tabStripMenuMain span.tabStripTabSelected a
{
  border: none;
  background-color: #02537c;
  color: White;
  font-size: 120%;
  font-weight: bold;
}

/* Top Left tab corner */
table.tabStripMenuMain span.tabStripTab a span.topLeft,
table.tabStripMenuMain span.tabStripTabSelected a span.topLeft
{
  background-image: url(../Image/NavigationTabsMainMenuTabTopLeftCorner.gif);
  background-repeat: no-repeat;
  background-position: left top;
}

/* Top Right tab corner */
table.tabStripMenuMain span.tabStripTab a span.topRight,
table.tabStripMenuMain span.tabStripTabSelected a span.topRight
{
  background-image: url(../Image/NavigationTabsMainMenuTabTopRightCorner.gif);
  background-repeat: no-repeat;
  background-position: right top;
}

/* Content area of the tab */
table.tabStripMenuMain span.tabStripTab a span.content,
table.tabStripMenuMain span.tabStripTabSelected a span.content
{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

table.tabStripMenuMain span.tabStripTab,
table.tabStripMenuMain span.tabStripTabSelected,
table.tabStripMenuMain span.tabStripTabSeparator
{
  margin-bottom: -0.3em;
}

/* Non-IE Browsers hack \*/
html>body table.tabStripMenuMain span.tabStripTab,
html>body table.tabStripMenuMain span.tabStripTabSelected,
html>body table.tabStripMenuMain span.tabStripTabSeparator
{
  margin-bottom: 0;
}
/* End Non-IE Browsers hack\*/


/* Sub Menu Tabstrip */
table.tabStripMenuSub div.tabStripTabsPane
{
  border-bottom: none;
}

table.tabStripMenuSub div.tabStripTabsPane.empty
{
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

table.tabStripMenuSub div.tabStripTabsPane ul li
{
  margin-top: 0.2em;
}

table.tabStripMenuSub span.tabStripTabSeparator
{
  display: none;
}

table.tabStripMenuSub span.tabStripTab,
table.tabStripMenuSub span.tabStripTabSelected
{  
  border-right: solid 1px White;

  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

table.tabStripMenuSub span.tabStripTab a
{  
  border: none;
  background-color: #02537c;
  color: White;
}

table.tabStripMenuSub span.tabStripTab a:hover,
table.tabStripMenuSub span.tabStripTabSelected a:hover
{
	background-color: #fee197;	
  color: Blue;
  cursor: pointer;
	cursor: hand;
}

table.tabStripMenuSub span.tabStripTabSelected a
{
  border: none;
  background-color: #02537c;
  color: White;
  text-decoration: underline;
}

/* Content area of the tab */
table.tabStripMenuSub span.tabStripTab a span.content,
table.tabStripMenuSub span.tabStripTabSelected a span.content
{
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

/* Non-IE Browsers hack \*/
html>body table.tabStripMenuSub div.tabStripTabsPane.empty
{
  padding-top: 0.4em;
  padding-bottom: 0.2em;
}
/* End Non-IE Browsers hack\*/
