@import url("TabStrip.css");

td.navigationTabsMainMenuArea
{
}

td.navigationTabsSubMenuArea
{
  background-color: #02537c;
  padding: 0.3em;
}

td.navigationTabsStatusArea
{
  background-color: #02537c;
  padding: 0.3em;
  color: White;
  text-align:right;
  white-space: nowrap;
}

/* Main Menu Tabstrip*/
div.navigationTabsMainMenu div.tabStripTabsPane
{
  border-bottom: none;
}

div.navigationTabsMainMenu div.tabStripTabsPane ul
{
}

div.navigationTabsMainMenu div.tabStripTabsPane ul li
{
  margin-top: 0.3em;
  margin-right: 0.1em;
}

div.navigationTabsMainMenu span.tabStripTabSeparator
{
  display: none;	
}

div.navigationTabsMainMenu span.tabStripTab a
{  
  border: none;
  background-color: #e1ecfc;
  color: Blue;
}

div.navigationTabsMainMenu span.tabStripTab a:hover
{
	background-color: #fee197;	
  color: Blue;
}

div.navigationTabsMainMenu span.tabStripTabSelected a
{
  border: none;
  background-color: #02537c;
  color: White;
}

/* Top Left tab corner */
div.navigationTabsMainMenu span.tabStripTab a span.topLeft,
div.navigationTabsMainMenu span.tabStripTabSelected a span.topLeft
{
  background-image: url(../Image/NavigationTabsMainMenuTabTopLeftCorner.gif);
  background-repeat: no-repeat;
  background-position: left top;
}

/* Top Right tab corner */
div.navigationTabsMainMenu span.tabStripTab a span.topRight,
div.navigationTabsMainMenu span.tabStripTabSelected a span.topRight
{
  background-image: url(../Image/NavigationTabsMainMenuTabTopRightCorner.gif);
  background-repeat: no-repeat;
  background-position: right top;
}

/* Content area of the tab */
div.navigationTabsMainMenu span.tabStripTab a span.content,
div.navigationTabsMainMenu span.tabStripTabSelected a span.content
{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div.navigationTabsMainMenu span.tabStripTab,
div.navigationTabsMainMenu span.tabStripTabSelected,
div.navigationTabsMainMenu span.tabStripTabSeparator
{
  margin-bottom: -0.3em;
}

/* Non-IE Browsers hack \*/
html>body div.navigationTabsMainMenu span.tabStripTab,
html>body div.navigationTabsMainMenu span.tabStripTabSelected,
html>body div.navigationTabsMainMenu span.tabStripTabSeparator
{
  margin-bottom: 0;
}
/* End Non-IE Browsers hack\*/


/* Sub Menu Tabstrip */
div.navigationTabsSubMenu div.tabStripTabsPane
{
  border-bottom: none;
}

div.navigationTabsSubMenu span.tabStripTabSeparator
{
  display: none;
}

div.navigationTabsSubMenu span.tabStripTab,
div.navigationTabsSubMenu span.tabStripTabSelected
{  
  border-right: solid 1px White;

  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

div.navigationTabsSubMenu span.tabStripTab a
{  
  border: none;
  background-color: #02537c;
  color: White;
}

div.navigationTabsSubMenu span.tabStripTab a:hover
{
	background-color: #fee197;	
  color: Blue;
}

div.navigationTabsSubMenu span.tabStripTabSelected a
{
  border: none;
  background-color: #02537c;
  color: White;
  text-decoration: underline;
}

/* Content area of the tab */
div.navigationTabsSubMenu span.tabStripTab a span.content,
div.navigationTabsSubMenu span.tabStripTabSelected a span.content
{
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

/* Non-IE Browsers hack \*/
/* End Non-IE Browsers hack\*/
