/* Applied to the tab strip itself.*/
div.tabStrip
{
}

div.tabStripTabsPane
{
}

div.tabStripTabsPane ul
{
  margin: 0;  
  padding: 0;
  
  list-style: none;
  
  width: 100%; 
  display: inline;
}

div.tabStripTabsPane ul li
{
  padding: 0;
  margin: 0;

  float: left;
  display: block;
  white-space: nowrap;
}

span.tabStripTab a
{
  text-decoration: none;
  cursor: pointer;
	cursor: hand;
}

span.tabStripTabSelected a
{
  text-decoration: none;
  cursor: default;
}

/* Top and bottom tab borders */
span.tabStripTab a span.tabStripTabLeftBorder
{  
  border-top: solid 1px #2254b1;	
  border-bottom: solid 1px #2254b1;	
}

/* Top and bottom selected tab borders */
span.tabStripTabSelected a span.tabStripTabLeftBorder
{
  border-top: solid 1px #2254b1;	
  border-bottom: solid 1px #2254b1;	
}

/* Left tab border */
span.tabStripTab a span.tabStripTabLeftBorder,
span.tabStripTabSelected a span.tabStripTabLeftBorder
{
  border-left: solid 1px #2254b1;
}

/* Right tab border */
span.tabStripTab a span.tabStripTabRightBorder,
span.tabStripTabSelected a span.tabStripTabRightBorder
{
  border-right: solid 1px #2254b1;
}

/* Inside of the tab */
span.tabStripTab a span.tabStripTabContent,
span.tabStripTabSelected a span.tabStripTabContent
{
  margin-right: -1px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5pt;
  padding-right: 5pt;
	vertical-align: middle;
}

span.tabStripTab a span.tabStripTabContent
{
  background-color: #e1ecfc;
}

span.tabStripTabSelected a span.tabStripTabContent
{
  background-color: White;
}

span.tabStripTab a:hover,
span.tabStripTab a:hover span.tabStripTabContent
{
	background-color: #fee197;	
}

span.tabStripTab,
span.tabStripTabSelected,
span.tabStripTabSeparator
{
  display: block;
  float: left;
}

span.tabStripTabLeftBorder, 
span.tabStripTabRightBorder,
span.tabStripTabContent
{
  display: block;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
span.tabStripTab,
span.tabStripTabSelected,
span.tabStripTabSeparator
{
  display: inline-block;
  float: none;
}

/* End IE5-Mac hack */

/* Non-IE Browsers hack \*/
html>body div.tabStripTabsPane
{
  border-bottom: none;
}

html>body div.tabStripTabsPane ul
{
  margin-bottom: 0px;
  width: auto; 
  display: block;
}

html>body span.tabStripTab,
html>body span.tabStripTabSelected,
html>body span.tabStripTabSeparator
{
  margin-bottom: 0px;
  display: block;
  float: left;
}

html>body span.tabStripTab a span.tabStripTabContent,
html>body span.tabStripTabSelected a span.tabStripTabContent
{
  margin-right: 0px;
}
/* End Non-IE Browsers hack\*/
