/* Applied to the tab strip itself.*/
div.tabStrip
{
}

/* Applied to the tab panes.*/
div.tabStripTabsPane
{
	border-bottom: solid 1px #2254b1;	
}

div.tabStripTabsPane table
{
  margin: 5pt 0px -1px 0px;
}

/* Applied to a tab. */
td.tabStripTab
{
	border-top: solid 1px #2254b1;
  border-bottom: solid 1px #2254b1;	
  padding: 1pt 5pt 1pt 5pt;
	background-color: #e1ecfc;
	cursor: hand;
}

/* Applied to a tab if it is selected. */
td.tabStripTabSelected
{
	border-top: solid 1px #2254b1;
  border-bottom: solid 1px white;	
  padding: 1pt 5pt 1pt 5pt;
	cursor: default;
}

td.tabStripTabLeftBorder,
td.tabStripTabLeftBorderSelected
{
  width: 1px;
  background-color: #2254b1;
	cursor: hand;
}

td.tabStripTabRightBorder,
td.tabStripTabRightBorderSelected
{
  width: 1px;
  background-color: #2254b1;
	cursor: hand;
}

/* Applied to a tab if it is a separator. */
td.tabStripSeparator
{
  width: 10pt;
  border-bottom: solid 1px #2254b1;	
	cursor: default;
}
