<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="rubicon.web" type="Rubicon.Web.Configuration.WebConfiguration, Rubicon.Web" />
	</configSections>

	<rubicon.web xmlns="http://www.rubicon-it.com/commons/web/configuration">
		<executionEngine
				defaultWxeHandler="WxeHandler.ashx"
				urlMappingFile="C:\Development20\PROTOTYPES\UIGen\WebSample\UrlMapping.xml" />
	</rubicon.web>

	<appSettings>
		<add key="Rubicon.Data.DomainObjects.Mapping.ConfigurationFile" value="C:\Development20\PROTOTYPES\UIGen\WebSample\mapping.xml"/>
		<add key="Rubicon.Data.DomainObjects.Mapping.SchemaFile" value="C:\Development20\PROTOTYPES\UIGen\WebSample\mapping.xsd"/>

		<add key="Rubicon.Data.DomainObjects.Persistence.Configuration.ConfigurationFile" value="C:\Development20\PROTOTYPES\UIGen\WebSample\storageProviders.xml" />
		<add key="Rubicon.Data.DomainObjects.Persistence.Configuration.SchemaFile" value="C:\Development20\PROTOTYPES\UIGen\WebSample\storageProviders.xsd" />

		<add key="Rubicon.Data.DomainObjects.Queries.Configuration.ConfigurationFile" value="C:\Development20\PROTOTYPES\UIGen\WebSample\queries.xml" />
		<add key="Rubicon.Data.DomainObjects.Queries.Configuration.SchemaFile" value="C:\Development20\PROTOTYPES\UIGen\WebSample\queries.xsd" />
	</appSettings>

	<connectionStrings/>

	<system.web>
		<!--
				.wxe is our extension for Web Execution Engine
		-->
		<httpHandlers>
			<add verb="*" path="*.wxe" type="Rubicon.Web.ExecutionEngine.WxeHandler, Rubicon.Web" />
		</httpHandlers>

		<!--
				Set compilation debug="true" to insert debugging 
				symbols into the compiled page. Because this 
				affects performance, set this value to true only 
				during development.
		-->
		<compilation debug="true" />
		<!--
				The <authentication> section enables configuration 
				of the security authentication mode used by 
				ASP.NET to identify an incoming user. 
		-->
		<authentication mode="Windows" />
		<!--
				The <customErrors> section enables configuration 
				of what to do if/when an unhandled error occurs 
				during the execution of a request. Specifically, 
				it enables developers to configure html error pages 
				to be displayed in place of a error stack trace.

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
				<error statusCode="403" redirect="NoAccess.htm" />
				<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		-->
	</system.web>
</configuration>
