<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="rubicon.web" type="Rubicon.Web.Configuration.WebConfiguration, Rubicon.Web" />
  </configSections>
  
  <rubicon.web xmlns="http://www.rubicon-it.com/commons/web/configuration">
    <executionEngine viewStateInSession="true" />
    <wcag conformanceLevel="Undefined" debug="false" />
    <resources root="res"/>
  </rubicon.web>
    
  <system.web>
    <pages validateRequest="false" />

    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" />

    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />

    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />

    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->

    <authorization>
      <allow users="*" /><!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" />

    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState 
      mode="InProc" 
      stateConnectionString="tcpip=127.0.0.1:42424" 
      sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
      cookieless="false" 
      timeout="20" />
    <!--
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20" />
    -->


    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />

    <browserCaps>
			<filter>
				<case match="WebTV/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
                    browser=WebTV
                    version=${version}
                    majorversion=${major}
                    minorversion=${minor}
                    tables=true
                    cookies=true
                    backgroundsounds=true
                    isMobileDevice="true"

                    <filter match="2" with="${minor}">
                        javascript=true
                        ecmascriptversion=1.0
                        css1=true
                    </filter>
					<filter match="^b" with="${letters}">
                        beta=true
                    </filter>
				</case>
				<case match="Opera[ /](?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
                    browser=Opera
                    version=${version}
                    majorversion=${major}
                    minorversion=${minor}
                    frames=true
                    tables=true
                    cookies=true
                    javascript=true
                    ecmascriptversion=1.1
                    isMobileDevice="true"

                    <filter match="[4-9]" with="${major}">
                        ecmascriptversion=1.3
                        css1=true
                        css2=true
                        xml=true

                        <filter match="[5-9]" with="${major}">
                            w3cdomversion=1.0
                            tagwriter=System.Web.UI.HtmlTextWriter
                        </filter>
					</filter>
					<filter match="^b" with="${letters}">
                       beta=true
                    </filter>
				</case>
				<case match="^Mozilla[^(]*\(compatible; MSIE (?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))(?'extra'.*)">

                    browser=IE
                    version=${version}
                    majorversion=${major}
                    minorversion=${minor}

                    <case match="^[5-9]\." with="${version}">
                        frames=true
                        tables=true
                        cookies=true
                        backgroundsounds=true
                        vbscript=true
                        javascript=true
                        javaapplets=true
                        activexcontrols=true
                        tagwriter=System.Web.UI.HtmlTextWriter
                        ecmascriptversion=1.2
                        msdomversion=${major}${minor}
                        w3cdomversion=1.0
                        css1=true
                        css2=true
                        xml=true
                        isMobileDevice="true"
                        <filter with="${letters}" match="^b">
                            beta=true
                        </filter>
						<filter with="${extra}" match="Crawler">
                            crawler=true
                        </filter>
					</case>
					<case match="^4\." with="${version}">
                        frames=true
                        tables=true
                        cookies=true
                        backgroundsounds=true
                        vbscript=true
                        javascript=true
                        javaapplets=true
                        activexcontrols=true
                        tagwriter=System.Web.UI.HtmlTextWriter
                        ecmascriptversion=1.2
                        msdomversion=4.0
                        cdf=true
                        css1=true

                        <filter with="${letters}" match="^[ab]">
                            beta=true
                        </filter>
						<filter with="${extra}" match="Crawler">
                            crawler=true
                        </filter>
						<filter match="; AOL" with="${extra}">
                            aol=true
                        </filter>
						<filter match="; Update a;" with="${extra}">
                            authenticodeupdate=true
                        </filter>
					</case>
					<case match="^3\." with="${version}">
                        frames=true
                        tables=true
                        cookies=true
                        backgroundsounds=true
                        vbscript=true
                        javascript=true
                        javaapplets=true
                        activexcontrols=true
                        ecmascriptversion=1.0
                        css1=true

                        <filter match="true" with="%{win16}">
                            javaapplets=false
                            activexcontrols=false
                            <filter match="^a" with="${letters}">
                                beta=true
                                vbscript=false
                                javascript=false
                            </filter>
						</filter>
						<filter match="Mac68K|MacPPC" with="%{platform}">
                            vbscript=false
                            activexcontrols=false
                        </filter>
						<filter match="^B" with="${letters}">
                            beta=true
                        </filter>
						<filter match="; AK;" with="${extra}">
                            ak=true
                        </filter>
						<filter match="; SK;" with="${extra}">
                            sk=true
                        </filter>
						<filter match="; Update a;" with="${extra}">
                            authenticodeupdate=true
                        </filter>
						<filter match="; AOL" with="${extra}">
                            aol=true
                        </filter>
					</case>
					<case match="^2\." with="${version}">
                        tables=true
                        cookies=true
                        backgroundsounds=true

                        <filter match="^b" with="${letters}">
                            beta=true
                        </filter>
						<filter match="; AOL" with="${extra}">
                            aol=true
                        </filter>
					</case>
					<case match="^1\.5" with="${version}">
                        tables=true
                        cookies=true
                    </case>
				</case>
				<case match="^Microsoft Pocket Internet Explorer/0.6">
                    browser=PIE
                    version=1.0
                    majorversion=1
                    minorversion=0
                    tables=true
                    backgroundsounds=true
                    platform=WinCE
                    isMobileDevice="true"

                </case>
				<case match="^Mozilla[^(]*\(compatible; MSPIE (?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))(?'extra'.*)">
                    browser=PIE
                    version=${version}
                    majorversion=${major}
                    minorversion=${minor}
                    tables=true
                    backgroundsounds=true
                    cookies=true
                    isMobileDevice="true"

                    <case match="2\." with="${version}">
                        frames=true
                    </case>
				</case>
				<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+ )?Netscape6/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*">
                    browser=Netscape
                    version=${version}
                    majorversion=${major}
                    minorversion=${minor}
                    frames=true
                    tables=true
                    cookies=true
                    javascript=true
                    javaapplets=true
                    ecmascriptversion=1.5
                    w3cdomversion=1.0
                    css1=true
                    css2=true
                    xml=true
                    tagwriter=System.Web.UI.HtmlTextWriter

                    <filter match="^b" with="${letters}">
                        beta=true
                    </filter>
				</case>
				<case match="^Mozilla/2\.01 \(Compatible\) Oracle\(tm\) PowerBrowser\(tm\)/1\.0a">
                    browser=PowerBrowser
                    version=1.5
                    majorversion=1
                    minorversion=.5
                    frames=true
                    tables=true
                    cookies=true
                    vbscript=true
                    javascript=true
                    javaapplets=true
                    platform=Win95
                </case>
				<case match="^Mozilla/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*">
                    browser=Netscape
                    version=${version}
                    majorversion=${major}
                    minorversion=${minor}

                    <filter match="^b" with="${letters}">
                        beta=true
                    </filter>
					<filter match="Gold" with="${letters}">
                        gold=true
                    </filter>
					<case match="^[4-9]\." with="${version}">
                        frames=true
                        tables=true
                        cookies=true
                        javascript=true
                        javaapplets=true
                        ecmascriptversion=1.2
                        css1=true

                        <filter match="^[5-9]*" with="${minor}">
                            ecmascriptversion=1.3
                            tagwriter=System.Web.UI.HtmlTextWriter
                        </filter>
					</case>
					<case match="^[2-3]\." with="${version}">
                        frames=true
                        tables=true
                        cookies=true
                        javascript=true
                        javaapplets=true
                        ecmascriptversion=1.1
                    </case>
				</case>
			</filter>
    </browserCaps>
  </system.web>
</configuration>
